body {
margin:0;
padding: 0;   
background-color: #fafbfd !important;
font-family: 'Lato', sans-serif !important;
}

.navbar {
  overflow: hidden;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;background-color: white;
  width: 100%;
  justify-content: space-evenly;
  padding: 0.45rem 2rem !important;
  list-style-type: none;
}
img {
    vertical-align: middle;
    border-style: none;
    height: 35px;
}

.SignUp{
    display: inline-block;
    font-weight: 300;
    color: white;
    background: #0e1d52;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
ul{
    justify-content: space-evenly;
    padding: 0px;
    list-style-type: none;
    display: flex;
  }
  .register-content{
      width: 100%;
      height: fit-content;
      /* background-color: #f8f8f7; */
  }
  .register-content  .container{
    height: fit-content;
    background-color: WHITE;
    padding-bottom: 5%;
  }

.tab {
    display: flex;
       justify-content: space-between;    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid lightgray;
    }
    
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
        /* Create an active/current tablink class */
    .tab button.active {
        float: left;
        border: white;
        outline: none;
        border-bottom: 2px solid black;
    }
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border-top: none;
    }
    .tab-details{
        margin: auto;
        width: 80%;
    }
    #btnActive{
        background-color: #00f999;
        border-radius: 75%;
        height: 33%;
        width: 23%;
        color: white;
        font-weight: 600;
              padding-top: 5px;
    }
    #btnUnActive{
        font-weight: 600;
        background-color: grey;
        border-radius: 75%;
        height: 33%;
        width: 23%;
        color: white;
        padding-top: 5px;
    }
    .col-xs-4{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #PersonalDetails,#CompanyDetails,#ProductDetails{
        padding: 10px;float: none;
    }
    .DisplayerScouter{
        width: 60%;
        justify-content: space-between;
        padding: 0px;
        list-style-type: none;
        display: flex;
    }
    .DisplayerScouter img{
        width: 50px;
        height: 0%;
    }
    span{
        color: black;
    }
    p{
        font-size: 14px;color: grey  !important;
    }
    .uploadLogo a,  .DisplayerScouter a{
        font-size: 14px;
    }
  .uploadLogo a, .DisplayerScouter a{
        color: grey  !important;
        text-decoration: none;
        background-color: transparent;
    }
    .vl {
        border-left: 1px solid grey;
        height: 50px;
      }
     .form{
        width: 100%;
        position: relative;
        height: 70px;
        overflow: hidden;
     }
     .form input{
         width: 100%;
         height: 100%;
         padding-top: 20px;
         border: none;
         outline: none;
     }
     .content-name, .label-name{
         font-size: 14px;
         color: grey;
     }
     .form label{
         position: absolute;
         bottom: 0px;
         left: 0%;
         width: 100%;
         height: 100%;
         pointer-events: none;
         border-bottom: 0.5px solid lightgrey;
        }
        .form label::after{
            content: "";
           position: absolute;
           width: 100%; 
           left: 0px;
           bottom: -1px;
           height: 100%;
           border-bottom: 3px solid blue; 
           transform: translateX(-100%);
           transition:  all 0.3s ease;
        }
        .content-name{
            position: absolute;
            bottom: 5px;
            left: 0px;
            transition:  all 0.3s ease;
        }
        .form input:focus + .label-name .content-name,
        .form input:valid + .label-name .content-name{
            transform: translateY(-150%);
            font-size: 14px;
            /* color: blue; */
        }
        .form input:focus .label-name::after, .form input:valid + .label-name::after{
            transform: translateX(0%);
        }
        label {
            display: inline-block;
            margin-bottom: .5rem;
            margin-top: 1rem;
            font-size: 14px;
        }
        
        label a {
            color: #007bff;
            background-color: transparent;
        }
        .register {
            background-color: #0e1d52;
            border: 1px solid #0e1d52;
            color: #ffffff;
            width: 30%;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            padding: 15px 15px;
            border-radius: 30px;
            cursor: pointer;
            float: none;
            display: inline-block;
        }
        .registerButton{
            margin-top: 5%;
        }
        footer{
            background-color: #f8f8f8;
            position: absolute;
            background-color: #f8f8f8;
            width: 100%;
     
        }
        footer .container{
            display: grid;
            grid-row-gap: 15px;
        }
        .title-page {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            color: #0e1d52;
            margin-bottom: 1em;
            margin-top: 0em;
        }
        .shortLine {
            text-align: center;
            margin: auto;
            border: 1px solid #0e1d52;
            width: 13px;
            -moz-box-shadow: 0 0 5px 5px #888;
            -webkit-box-shadow: 0 0 5px 5px#888;
            box-shadow: 0 0 4px 1px #888;
            text-shadow: 1px 1px 1px #0e1d52;
        }
    .notify{
     width: 80%;
     margin: auto;
     display: flex;justify-content: center;
        }
        .notify .form-control {
            display: block;
            width: 55%;
            height: 50px;
            height: calc(2.2rem + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid white;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            border-bottom-left-radius: 22px;
            border-top-left-radius: 22px;
        }
        .subscriberButton{
            width: 100px;
            background-color: #0e1d52;
            border-bottom-right-radius: 22px;
            border-top-right-radius: 22px;
            color: white;
            font-size: 13px;
        }
        .hyperlinks a{
            color: #b6b6b6 !important;
            font-size: 14px;
        }
        .footer-copyright p{
            color: #b6b6b6 !important;
            font-size: 14px;line-height: 0.5;font-weight: 500;
        }
        .input-group{
            position: relative;
            margin: 30px 0;
        }
        .input-group .label{
             position: absolute;
             top: 0;
             font-size: 14px;
             margin: 10px;
             padding: 0 10px;
             cursor: text;
             margin-bottom: 5%;
           transition: top 0.2s ease-in-out;;   
         }   
         .box{
             width: 100%;
             padding: 5px 10px;
             border: none;
             border-bottom: 1px solid grey;
             color: grey;
         }     
        .box:focus{
            outline: none;
        }
        #CompanyDetails .input-group .label-name{
            font-size: 14px;
            color: grey;
            position: absolute;
            margin-top: 20px;
        }
        #companyInfo{
                    height: 50px;
        }
.active{
    top: -20px;
}
.requiredButtons li {
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    width: auto;
    text-align: center;
    margin-right: 2%;
    display: inline-block;
}
.registerButton li::after{
    content: "+";
}
.requiredButtons{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.TypeSizePartners label{
    width: -webkit-fill-available;
}
.radioButtons{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.nextAndSave{
    display: flex;
}
.nextAndSave .registerButton {
    width: 250px !important;
}
.next{
    background-color: #0e1d52;
    border: 1px solid white;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding: 15px 15px;
    border-radius: 30px;
    cursor: pointer;
    float: none;
    display: inline-block;
}
.form-group .form-control{
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}
#exampleFormControlSelect1{
    color: #999;
    font-size: 14px;
}