<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="../css/Register.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css" />

</head>

<body>
   <div class="mainClass">
    <ul class="navbar navbar-fixed-top">
        <li>
            <img src="../assets/logo.png">
        </li>

        <li class="middle">
            <ul>
                <li>
                    <a href="#Explore">Explore</a>
                </li>
                <li>
                    <a href="#Events">Events</a>
                </li>
                <li>
                    <a href="#Articles">Articles</a>
                </li>
                <li>
                    <a href="#About GTI">About GTI</a>
                </li>
                <li>
                    <a href="#Contact">Contact</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="buttons">
                <a href="#">
                    <button type="button" class="SignUp">Sign Up</button>
                </a>
            </div>
        </li>
      </ul>
       <div class="a">
           
        <a href="#" style="float: right;">
            <div class="container">
                <button type="button" class="btn signIn" data-toggle="modal" data-target="#signIn">Sign In</button>

                <div class="modal fade" id="signIn" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                              <div class="signInModal">
                                  <div class="image">
                                      <div class="paragraps">
                                        <p class="text1">A portal enabling global technology collaborations</p>
                                        <p class="text2">Display, Discover, Develop, Deploy</p>
                                      </div>
                                   </div>
                                  <div class="data">
                                    <div class="welcome">
                                        <h4>Welcome back !</h4>   
                                         <i>&times;</i>
                                    </div>  
                                    <div class="forms">
                                        <div class="form">
                                            <input type="text" name="name" autocomplete="on" class="form-control"
                                                data-placeholder="Business / Individual" required="true">
                                            <label for="name" class="label-name">
                                                <span class="content-name">* Email</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="name" autocomplete="on" class="form-control"
                                                data-placeholder="Business / Individual" required="true">
                                            <label for="name" class="label-name">
                                                <span class="content-name">* Password</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="forgert">
                                        <span>
                                            <a href="#">Forgot Password?</a>
                                        </span>
                                    </div>
                                    <div class="registerButton">
                                        <button type="submit" class="register">Sign In</button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </a>

       </div>  
   </div>       
  

    <div class="register-content">
        <div class="container">
            <div class="tab-details">
                <ul class="tab">
                    <li class="col-xs-4 active">
                        <button type="button" class="btn btnActive" id="btnActive">1</button>
                        <button class="tablinks" onclick="openCity(event, 'PersonalDetails')"
                            style="color: #00f999;">Personal Details</button>
                    </li>
                    <li class="col-xs-4">
                        <button type="button" class="btn btnActive" id="btnUnActive">2</button>
                        <button class="tablinks" onclick="openCity(event, 'CompanyDetails')">Company Details</button>
                    </li>
                    <li class="col-xs-4">
                        <button type="button" class="btn btnActive" id="btnUnActive">3</button>
                        <button class="tablinks" onclick="openCity(event,'ProductDetails')">Product/Opportunity</button>
                    </li>
                </ul>

                <div id="PersonalDetails" class="tabcontent active">
                    <p> * Are you a tech displayer / scouter or general subscriber? Choose one.</p>
                    <ul class="DisplayerScouter">
                        <li class="active">
                            <div class="">
                                <img src="http://www.globaltechinterface.com/themes/gtifirstview/img/displayer.png">
                                <span>
                                    <a href="#">Displayer</a>
                                </span>
                            </div>
                        </li>
                        <div class="vl"></div>
                        <li>
                            <div class="">
                                <img src="http://www.globaltechinterface.com/themes/gtifirstview/img/scouter.png">
                                <span>
                                    <a href="#">Scouter</a>
                                </span>
                            </div>
                        </li>
                        <div class="vl"></div>
                        <li>
                            <div class="">
                                <img src="http://www.globaltechinterface.com/themes/gtifirstview/img/guest.png">
                                <span>
                                    <a href="#">General Subscriber</a>
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="form">
                       <input id="companyName" type="text" name="name" autocomplete="on" class="form-control"
                            data-placeholder="Business / Individual" required="true">
                        <label for="companyName" class="label-name">
                            <span class="content-name" >* Company Name / Institute / Organization</span>
                        </label>
                    </div>
                    <h5 class="checkCompanyName">company</h5>

                    <div class="form">
                        <input id="contactName"type="text" name="name" autocomplete="on" class="form-control"
                            data-placeholder="Business / Individual" required="true">
                        <label for="contactName" class="label-name">
                            <span class="content-name">* Contact Name</span>
                        </label>
                     </div>
                    <h5 class="checkContactName">contact</h5>

                    <div class="form">
                        <input type="text" id="email" name="name" autocomplete="on" class="form-control"
                            data-placeholder="Business / Individual" required="true">
                        <label for="email" class="label-name">
                            <span class="content-name">* Email</span>
                        </label>
                    </div>
                    <h5 class="checkEmail">contact</h5>

                    <div class="form">
                        <input type="text" id="phone" name="name" autocomplete="on" class="form-control"
                            data-placeholder="Business / Individual" required="true">
                        <label for="phone" class="label-name">
                            <span class="content-name">* Phone</span>
                        </label>
                    </div>
                    <h5 class="checkPhone">contact</h5>

                    <div class="form">
                        <input type="text" id="referenceName" name="name" autocomplete="on" class="form-control"
                            data-placeholder="Business / Individual" required="true">
                        <label for="referenceName" class="label-name">
                            <span class="content-name">Reference Name</span>
                        </label>
                    </div>
                    <h5 class="checkReferenceName">contact</h5>

                    <div class="form">
                        <input type="text" id="referenceNumber" name="name" autocomplete="on" class="form-control"
                            data-placeholder="Business / Individual" required="true">
                        <label for="referenceNumber" class="label-name">
                            <span class="content-name">Reference Number</span>
                        </label>
                    </div>
                    <h5 class="checkReferenceNumber">contact</h5>

                    <input type="radio" id="term" name="term" value="term and conditions">
                    <label for="Term">
                        <label>I accept <a href="#"> Terms and Conditions of GTI </a></label>
                    </label>

                    <div class="registerButton">
                        <button type="submit" class="register" id="register">Register</button>
                    </div>
                </div>

                <div id="CompanyDetails" class="tabcontent">
                    <div class="uploadLogo">
                        <p>Upload Company Logo</p>
                        <div class="">
                            <img src="http://www.globaltechinterface.com/themes/gtifirstview/img/file-upload.png">
                            <span>
                                <a href="#">Upload Or click and drag</a>
                            </span>
                        </div>
                    </div>


                    <div class="input-group">
                        <label for="companyInfo" class="label-name">* Company Description</label>
                        <textarea id="companyInfo" class="box"></textarea>
                    </div>

                    <div class="input-group">
                        <label for="companyInfo" class="label-name">* Company Address</label>
                        <textarea id="companyInfo" class="box"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">* Country</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select your Country</option>
                            <option>America</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>Japa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">* Sector Type</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select your Sector type</option>
                            <option>America</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>Japa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">* Sub Sector type</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select your Sub Sector type</option>
                            <option>America</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>Japa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">* Type and size of client</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select Type and size</option>
                            <option>America</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>Japa</option>
                        </select>
                    </div>

                    <div class="TypeSizePartners">
                        <label>Type and size of partner(s) required</label>
                        <ul class="requiredButtons">
                            <li>Industry SME <=10 </li>
                            <li>Industry SME 11-49</li>
                            <li style="border: none;">view more</li>
                        </ul>
                    </div>

                    <div class="TypeSizePartners">
                        <label>
                            <div class="TypeSizePartners">
                                <label>Type and size of partner(s) required</label>
                                <ul class="requiredButtons">
                                    <li>Acquisition Agreement</li>
                                    <li>Commercial Agency Agreement</li>
                                    <li>Commercial Agency Agreement with technical assistance</li>
                                    <li style="border: none;">view more</li>
                                </ul>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Stage of development of product</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select Development Stage</option>
                            <option>America</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>Japa</option>
                        </select>
                    </div>

                    <div class="TypeSizePartners">
                        <label>
                            <div class="TypeSizePartners">
                                <label>IPR Status</label>
                                <ul class="requiredButtons">
                                    <li>Copyright</li>
                                    <li>Design Rights</li>
                                    <li>Exclusive Rights</li>
                                    <li style="border: none;">view more</li>
                                </ul>
                        </label>
                    </div>

                    <div class="uploadLogo">
                        <p>Documents</p>
                        <div class="">
                            <img src="http://www.globaltechinterface.com/themes/gtifirstview/img/file-upload.png">
                            <span>
                                <b><a href="#">Upload documents related to your company</a></b>
                            </span>
                        </div>
                    </div>


                    <div class="radioButtons">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline1"
                                name="inlineDefaultRadiosExample">
                            <label class="custom-control-label" for="defaultInline1">Open Documents</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline2"
                                name="inlineDefaultRadiosExample">
                            <label class="custom-control-label" for="defaultInline2">Post-NDA</label>
                        </div>
                    </div>

                    <div class="addDoc">+ Add More Documents</div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Turnover/fund(in USD)</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Select Turnover</option>
                            <option>America</option>
                            <option>Australia</option>
                            <option>India</option>
                            <option>Japa</option>
                        </select>
                    </div>

                    <label>Transnational co-operation</label>
                    <div class="radioButtons" style="width: 20%;">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline1"
                                name="inlineDefaultRadiosExample">
                            <label class="custom-control-label" for="defaultInline1">Yes</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="defaultInline2"
                                name="inlineDefaultRadiosExample">
                            <label class="custom-control-label" for="defaultInline2">No</label>
                        </div>
                    </div>


                    <div class="nextAndSave">
                        <div class="registerButton">
                            <button type="submit" class="next">Next</button>
                        </div>
                        <div class="registerButton">
                            <button type="submit" class="next"
                                style="color:#0e1d52;background-color: white;">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ProductDetails" class="tabcontent">
            <div class="uploadLogo">
                <p>Upload Product Image</p>
                <div class="">
                    <img src="http://www.globaltechinterface.com/themes/gtifirstview/img/file-upload.png">
                    <span>
                        <a href="#">Upload Or click and drag</a>
                    </span>
                </div>
            </div>


            <div class="input-group">
                <label for="companyInfo" class="label-name">* Product Name</label>
                <textarea id="companyInfo" class="box"></textarea>
            </div>

            <div class="input-group">
                <label for="companyInfo" class="label-name">* Product Description</label>
                <textarea id="companyInfo" class="box"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">* Sector Type</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Select your Sector</option>
                    <option>America</option>
                    <option>Australia</option>
                    <option>India</option>
                    <option>Japa</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">* Sub Sector Type</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Select your Sub Sector</option>
                    <option>America</option>
                    <option>Australia</option>
                    <option>India</option>
                    <option>Japa</option>
                </select>
            </div>

            <div class="uploadLogo">
                <p>Upload Product PDF/Doc/Video/Audio</p>
                <div class="">
                    <img src="http://www.globaltechinterface.com/themes/gtifirstview/img/file-upload.png">
                    <span>
                        <a href="#">Upload Or click and drag</a>
                    </span>
                </div>
            </div>

            <div class="multipleProducts">Display Multiple Products</div>
            <div class="addMore">
                <span> + Add More Products / Opportunity</span>
            </div>

            <div class="registerButton">
                <button type="submit" class="register">Complete</button>
            </div>

        </div>

    </div>
    </div>
    </div>
    </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer clear font-small  stylish-color-dark pt-4">
        <div class="container text-center text-md-left">
            <div class="footer">
                <div class="title-page">Get Our Latest Updates</div>
            </div>
            <div class="shortLine"></div>
            <div class="notify">
                <input type="email" placeholder="Enter Email ID" id="subscriberserEmail" class="form-control">
                <button class="subscriberButton">Send</button>
            </div>
        </div>
        <hr>
        <div class="footer-copyright text-center py-3">
            <p>©Copyright 2017 Global Business Inroads International Business Consultants Pvt Ltd
            <p>
            <div class="hyperlinks">
                <a href="#" style="text-decoration: underline; "> Terms and Conditions |</a>
                <a href="#" style="text-decoration: underline; ">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <script src="../js/Register.js"></script>
</body>

</html>